.autocomplete-bar-input {
  width: 100%;
  border-radius:5px;
  border:1px solid #dcdcdc;
  height:45px;
  border:none;
  font-size:16px;
  outline: none;
  margin: 0 auto;
  display: block;
  padding: 5px 25px;
  background-color: #f3f3f3;
}

.autocomplete-bar-input:hover{
  box-shadow: 1px 1px 3px 1px #4c4c4c;
}

.autocomplete-bar-input:focus-within{
  box-shadow: 1px 1px 3px 1px #4c4c4c;
  outline:none;
}

.autocomplete-bar-button {
  border-radius:0 5px 5px 0;
  width: 15%;
  height: 45px;
  background-color: #767676;
  font-size: 30px;
  color: #fff;
  border: 0;
  float: right;
  margin-top: -45px;
  cursor: pointer;
  outline: none;
}

.autocomplete-bar-button:hover {
  background-color: #000;
}

.autocomplete-bar-button span {
  transform: rotate(-50deg);
  display: block;
}

.autocomplete-results {
  background-color: #f3f3f3;
  margin-top: 10px;
  display: block;
}

.autocomplete-results-options {
  box-shadow: 1px 1px 3px 1px #161616;
  list-style: none;
}

.autocomplete-results-options li {
  width: 100%;
  display: block;
  overflow: hidden;
}

.autocomplete-results-options li:hover,
.autocomplete-results-options li:focus {
  background-color: #e7e7e7;
  cursor: pointer;
  outline: none;
}

.autocomplete-results-options li span {
  padding: 15px;
  display: block;
  float: left;
}

.autocomplete-results-loading {
  width: 30px;
  margin: 10px 20px;
}
