.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 20px;
}

.App-header {
  margin: 50px auto;
}

.App-header .App-logo {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.App-header h1 {
  margin: 20px auto;
  text-align: center;
  font-family: serif;
  color: #d7d2d2;
  font-size: 27px;
}

.App-content {
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.App-content img {
  max-width: 100%;
  max-height: 350px;
}

.App-content h3 {
  font-family: serif;
  font-size: 20px;
  color: #707070;
  display: block;
  margin-top: 20px;
}

.App-content-images {
  width: 100%;
  height: 350px;
  position: relative;
}

.App-content-images img {
  display: none;
}

.App-content-images .displayImage {
  display: inline-block;
}

.App-content-images .loading {
  margin-top: 60px;
  max-height: 350px;
  z-index: 1;
  display: inline-block;
}
